@model List<RedFolder.ViewModels.Employment>

@{
    ViewBag.Title = "MyBio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header bio-page">
    <span>"We are the sum total of our experiences.</span><br />
    <span>Those experiences – be they positive or negative – make us the person we are, at any given point in our lives.</span><br />
    <span>And, like a flowing river, those same experiences, and those yet to come, continue to influence and reshape the person we are, and the person we become.</span><br />
    <span>None of us are the same as we were yesterday, nor will be tomorrow."</span><br />
    <span><small>B.J. Neblett From the short story <cite title="Source Title">George</cite></small></span>
</div>

<div class="container">
    @Html.Partial("_SkillHighlights")
</div>

<div class="site-intro">
    <div class="container">
        <h2>About Me </h2>
        <p>
            I’ve had the pleasure of working within IT for <strong>over 20 years</strong>.  During that time I’ve been privileged to work with many <strong>great people, languages, technologies, systems and processes.</strong>
        </p>
        <p>
            After all that time and all the changes, <strong>I still love IT – especially development.</strong>  As an art form (yes, if done right it is an art form) it continues to evolve and grow.  And we must remember that it is still very young – yet to reach its hundredth birthday.  Compare it to something like architecture which has been in existence for thousands – <strong>we have such a long way to go</strong> – exciting times.
        </p>
    </div>
</div>

<div class="testimonials-clean reverse">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Work History</h2>
        </div>

        <div class="row people">

            @foreach (var employment in Model)
            {
                <div class="col-xs-12 item">
                    <div class="box">
                        <h3 class="rfc-list-title">@employment.Title</h3>
                        <p><small>@employment.From to @employment.To</small></p>

                        @if (employment.Summary != null)
                        {
                            <p class="description">
                                @employment.Summary
                            </p>
                        }

                        @if (employment.Technologies != null && employment.Technologies.Count > 0)
                        {
                            <p></p>
                            <p></p>
                            <p class="description">Key Technologies:</p>
                                <p></p>
                                <ul>
                                    @foreach (var technology in employment.Technologies)
                                    {
                                        <li class="skill-label">@technology</li>
                                    }
                                </ul>


                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Certifications</h2>
        </div>

        <div class="row people">
            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <img class="img-responsive center-block" style="padding:15px; height:150px;" src="~/Images/MCSD-App-Builder-logo-Blk.png" />
                    <h3>Microsoft Certified Solutions Developer: App Builder</h3>
                    <p><small>Sep 2016</small></p>
                    <p class="description">The Microsoft Certified Solutions Developer (MCSD): App Builder certification validates the skills needed to build modern web applications and services.</p>
                    <p></p>
                    <p class="read-more"><a href="https://www.microsoft.com/en-gb/learning/mcsd-app-builder-certification.aspx">Read more <i class="fa fa-chevron-circle-right"></i></a></p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <img class="img-responsive center-block" style="height:150px;" src="~/Images/PSMI.png" />
                    <h3>Scrum.Org: Professional Scrum Master (PSM I)</h3>
                    <p><small>Feb 2016</small></p>
                    <p class="description">The Professional Scrum Master level I (PSM I) assessment validates the depth of knowledge of the Scrum framework and its application.</p>
                    <p></p>
                    <p class="read-more"><a href="https://www.scrum.org/Assessments/Professional-Scrum-Master-Assessments/PSM-I-Assessment">Read more <i class="fa fa-chevron-circle-right"></i></a></p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <img class="img-responsive center-block" style="height:150px;" src="~/Images/MCSD_2013(rgb)_1477.png" />
                    <h3>Microsoft Certified Solutions Developer: Web Applications</h3>
                    <p><small>Dec 2013, Re-certified December 2015</small></p>
                    <p class="description">The Microsoft Certified Solutions Developer (MCSD): Web Applications certification validates the skills needed by a web developer or web administrator.</p>
                    <p></p>
                    <p class="read-more"><a href="https://www.microsoft.com/en-gb/learning/mcsd-web-apps-certification.aspx">Read more <i class="fa fa-chevron-circle-right"></i></a></p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <img class="img-responsive center-block" style="height:150px;" src="~/Images/MS_2013(rgb)_1485.png" />
                    <h3>Microsoft Specialist: Programming in HTML5 with JavaScript and CSS3</h3>
                    <p><small>Feb 2013</small></p>
                    <p class="description">The Microsoft Specalist: Programming in HTML5 with JavaScript and CSS3 certification validates the skills to:</p>
                    <ul>
                        <li>Implement and manipulate document structures and objects</li>
                        <li>Implement program flow</li>
                        <li>Access and secure data</li>
                        <li>Use CSS3 in applications</li>
                    </ul>
                    <p></p>
                    <p class="read-more"><a href="https://www.microsoft.com/en-gb/learning/exam-70-480.aspx">Read more <i class="fa fa-chevron-circle-right"></i></a></p>
                </div>
            </div>
        </div>
    </div>
</div>
