@model List<RedFolder.ViewModels.Employment>

@{
    ViewBag.Title = "MyBio";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header bio-page">
    <span>"We are the sum total of our experiences.</span><br />
    <span>Those experiences – be they positive or negative – make us the person we are, at any given point in our lives.</span><br />
    <span>And, like a flowing river, those same experiences, and those yet to come, continue to influence and reshape the person we are, and the person we become.</span><br />
    <span>None of us are the same as we were yesterday, nor will be tomorrow."</span><br />
    <span><small>B.J. Neblett From the short story <cite title="Source Title">George</cite></small></span>
</div>

<div class="container">
    @Html.Partial("_SkillHighlights")
</div>

<div class="site-intro">
    <div class="container">
        <h2>About Me </h2>
        <p>
            I’ve had the pleasure of working within IT for <strong>over 20 years</strong>.  During that time I’ve been privileged to work with many <strong>great people, languages, technologies, systems and processes.</strong>
        </p>
        <p>
            After all that time and all the changes, <strong>I still love IT – especially development.</strong>  As an art form (yes, if done right it is an art form) it continues to evolve and grow.  And we must remember that it is still very young – yet to reach its hundredth birthday.  Compare it to something like architecture which has been in existence for thousands – <strong>we have such a long way to go</strong> – exciting times.
        </p>
    </div>
</div>

<div class="testimonials-clean reverse">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Work History</h2>
        </div>

        <div class="row people">

            @foreach (var employment in Model)
            {
                <div class="col-xs-12 item">
                    <div class="box">
                        <h3 class="rfc-list-title">@employment.Title</h3>
                        <p><small>@employment.From to @employment.To</small></p>

                        @if (employment.Summary != null)
                        {
                            <p class="description">
                                @employment.Summary
                            </p>
                        }

                        @if (employment.Technologies != null && employment.Technologies.Count > 0)
                        {
                            <p></p>
                            <p></p>
                            <p class="description">Key Technologies:</p>
                                <p></p>
                                <ul>
                                    @foreach (var technology in employment.Technologies)
                                    {
                                        <li class="skill-label">@technology</li>
                                    }
                                </ul>


                        }
                    </div>
                </div>
            }
        </div>
    </div>
</div>

<div class="testimonials-clean">
    <div class="container">
        <div class="intro">
            <h2 class="text-center">Certifications and Exams</h2>
        </div>

        <div class="row people">
            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/e2c276ef-e5ed-4b70-b52d-312ea8595aff/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/mcsd-app-builder-certified-2018.png" />
                    </a>
                    <h3>MCSD: App Builder — Certified 2018</h3>
                    <p><small>Jul 2018</small></p>
                    <p class="description">Earners of the MCSD: App Builder certification have demonstrated the skills required to build modern mobile and/or web applications and services. Earning this certification qualifies an individual for a position as an application developer.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/7cc84a0c-228d-40a9-8c88-7ee29722334c/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/mcsa-cloud-platform-certified-2018.png" />
                    </a>
                    <h3>MCSA: Cloud Platform - Certified 2018</h3>
                    <p><small>Jul 2018</small></p>
                    <p class="description">Earners of the MCSA: Cloud Platform certification have demonstrated the skills required to reduce IT costs and deliver more value for the modern business by implementing Microsoft cloud-related technologies. They are qualified for a position as a cloud administrator or architect.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/fb55d904-c066-45a1-90cd-fe86a5218acc/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/exam-532-developing-microsoft-azure-solutions.1.png" />
                    </a>
                    <h3>Exam 532: Developing Microsoft Azure Solutions</h3>
                    <p><small>Jul 2018</small></p>
                    <p class="description">This exam is for candidates who are experienced in designing, programming, implementing, automating, and monitoring Microsoft Azure solutions. Passing this exam validates a candidate’s ability to create and manage Azure Resource Manager Virtual Machines, design and implement storage and data strategy, manage identity, application, and network services, and design and implement Azure PaaS compute and web and mobile services.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/7dcebf78-4de1-4c5f-b783-7dfa9fd9dc12/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/mcsd-app-builder-certified-2017.png" />
                    </a>
                    <h3>MCSD: App Builder — Certified 2017</h3>
                    <p><small>Aug 2017</small></p>
                    <p class="description">Earners of the MCSD: App Builder certification have demonstrated the skills required to build modern mobile and/or web applications and services. Earning this certification qualifies an individual for a position as an application developer.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/f01e8e5a-7bc7-4496-a570-dd1c367aebc2/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/exam-534-architecting-microsoft-azure-solutions.png" />
                    </a>
                    <h3>Exam 534: Architecting Microsoft Azure Solutions</h3>
                    <p><small>Aug 2017</small></p>
                    <p class="description">This exam is for candidates who are interested in validating their Microsoft Azure solution design skills. Passing this exam validates a candidate’s ability to identify tradeoffs and make decisions for designing public and hybrid cloud solutions.  Earners of this badge are able to define the appropriate infrastructure and platform solutions to meet the required functional, operational, and deployment requirements through the solution lifecycle.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/f57a78d2-31ae-42d5-a39d-48eaa1bd06cd/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/mcsd-app-builder-certified-2016.png" />
                    </a>
                    <h3>MCSD: App Builder — Certified 2016</h3>
                    <p><small>Sep 2016</small></p>
                    <p class="description">Earners of the MCSD: App Builder certification have demonstrated the skills required to build modern mobile and/or web applications and services. Earning this certification qualifies an individual for a position as an application developer.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/9ffb89e1-1f12-4382-9033-028aaebe793b/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/mcsa-web-applications-certified-2016.png" />
                    </a>
                    <h3>MCSA: Web Applications - Certified 2016</h3>
                    <p><small>Sep 2016</small></p>
                    <p class="description">Earners of the MCSA: Web Applications certification have demonstrated the skills required to implement modern web apps. They are qualified for a position as a web developer or web administrator.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.scrum.org/Assessments/Professional-Scrum-Master-Assessments/PSM-I-Assessment">
                        <img class="img-responsive center-block" style="height:125px;" src="~/Images/PSMI.png" />
                    </a>
                    <h3>Scrum.Org: Professional Scrum Master (PSM I)</h3>
                    <p><small>Feb 2016</small></p>
                    <p class="description">The Professional Scrum Master level I (PSM I) assessment validates the depth of knowledge of the Scrum framework and its application.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/c985d6a7-c36d-491e-84c7-d793eb7fd2d9/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/exam-487-developing-microsoft-azure-and-web-services.png" />
                    </a>
                    <h3>Exam 487: Developing Microsoft Azure and Web Services</h3>
                    <p><small>Dec 2013</small></p>
                    <p class="description">Passing Exam 487: Developing Microsoft Azure and Web Services validates the skills and knowledge necessary to develop Web Services. Candidates demonstrate the ability to assess Azure data, manipulate and query data using Entity Framework, as well as designing and implementing WCF and Web API-based services.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/25418790-497e-4884-a618-170d3e0c6299/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/exam-486-developing-asp-net-mvc-web-applications.png" />
                    </a>
                    <h3>70-486: Developing Asp.net MVC Applications</h3>
                    <p><small>Jun 2013</small></p>
                    <p class="description">Passing Exam 486: Developing ASP.NET MVC Web Applications validates a candidate’s ability to design the user experience, security solutions, and application architecture as well as troubleshoot and debug web applications.</p>
                </div>
            </div>

            <div class="col-xs-12 col-md-6 item" style="min-height: 450px;">
                <div class="box">
                    <a href="https://www.youracclaim.com/badges/cecbbf3b-81cf-489e-8dad-8dff10653350/public_url">
                        <img class="img-responsive center-block" src="~/images/acclaim/exam-480-programming-in-html5-with-javascript-and-css3.png" />
                    </a>
                    <h3>Exam 480: Programming in HTML5 with JavaScript and CSS3</h3>
                    <p><small>Feb 2013</small></p>
                    <p class="description">Passing Exam 480: Programming in HTML5 with JavaScript and CSS3  validates a candidate’s ability to access and secure data as well as implement document structures, objects, and program flow.</p>
                </div>
            </div>
        </div>
    </div>
</div>
