@model RedFolder.ViewModels.CordovaProject

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="row rfc-header recent-projects-page">
    <h1>@Model.Title</h1>
</div>

<div class="center-content">
    @if (Model != null)
    {
        if (Model.Description != null && Model.Description.Count > 0)
        {
            <div class="row">
                @foreach (var paragraph in Model.Description)
                {
                    <p>
                        @paragraph
                    </p>
                }
            </div>
        }

        if (Model.Articles != null && Model.Articles.Count > 0)
        {
            <div class="row">
                <h3>Blog articles</h3>
                <ul>
                    @foreach (var article in Model.Articles)
                    {
                        <li>
                            <a href="@article.Link.ToString()"><h4>@article.Title</h4></a>

                            @if (article.Description != null && article.Description.Count > 0)
                        {
                            foreach (var paragraph in article.Description)
                            {
                                    <p>
                                        @paragraph
                                    </p>
                                }
                            }
                        </li>
                    }
                </ul>

            </div>
        }

        if (Model.SourceCode != null && Model.SourceCode.Count > 0)
        {

            <div class="row">
                <h3>Source code</h3>
                <ul>
                    @foreach (var source in Model.SourceCode)
                    {
                        <li>
                            <a href="@source.Link"><h4>@source.Title</h4></a>

                            @if (source.Description != null && source.Description.Count > 0)
                            {
                                foreach (var paragraph in source.Description)
                                {
                                    <p>
                                        @paragraph
                                    </p>
                                }
                            }
                        </li>
                    }
                </ul>
            </div>
        }
    }
</div>