<!DOCTYPE html>
<html prefix="og: http://ogp.me/ns#">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    @RenderSection("metas", required: false)

    <title>@ViewBag.Title</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <!-- endbower -->

    <link rel="stylesheet" type="text/css" href="~/lib/bootswatch/flatly/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/lib/font-awesome/css/font-awesome.css" />

    <rfc-inline-style css-file="Common.css"></rfc-inline-style>

    @RenderSection("styles", required: false)

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="/lib/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <script src="/lib/signalr/jquery.signalR.js"></script>
    <!-- endbower -->

    <environment names="Development">
        <!-- sharedDevelopment:js -->
        <script src="/scripts/shared/red-folder.toggle.js"></script>
        <script src="/scripts/shared/3rdParty/classie.js"></script>
        <script src="/scripts/shared/3rdParty/cbpAnimatedHeader.js"></script>
        <!-- endinject -->
    </environment>

    <environment names="Production,Staging">
        <!-- sharedProduction:js -->
        <!-- endinject -->
    </environment>

    <script>
        dataLayer = [];
    </script>
    @RenderSection("scripts", required: false)
</head>
<body>
    <!-- Google Tag Manager -->
    <noscript>
        <iframe src="//www.googletagmanager.com/ns.html?id=GTM-N69LS5" height="0" width="0" style="display:none;visibility:hidden"></iframe>
    </noscript>
    <script>
        (function (w, d, s, l, i) { w[l] = w[l] || []; w[l].push({ 'gtm.start': new Date().getTime(), event: 'gtm.js' }); var f = d.getElementsByTagName(s)[0], j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src = '//www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f); })(window, document, 'script', 'dataLayer', 'GTM-N69LS5');
    </script>
    <!-- End Google Tag Manager -->

    @Html.Partial("_Header")
    
    <div class="page-container">
        @RenderBody()
    </div>

    @Html.Partial("_Footer")
</body>
</html>
