<!DOCTYPE html>
<html>
<head>
    <link rel="SHORTCUT ICON" href="/Images/favicon.ico" />
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>

    <!-- bower:css -->
    <link rel="stylesheet" href="/lib/bootstrap-switch/dist/css/bootstrap3/bootstrap-switch.css" />
    <!-- endbower -->

    <link rel="stylesheet" type="text/css" href="~/lib/bootswatch/flatly/bootstrap.min.css" />

    <environment names="Development">
        <!-- sharedDevelopment:css -->
        <link rel="stylesheet" href="/css/shared/Site.css">
        <!-- endinject -->
    </environment>

    <environment names="Production,Staging">
        <!-- sharedProduction:css -->
        <link rel="stylesheet" href="/css/shared/production/shared-c3b07c6712.css">
        <!-- endinject -->
    </environment>

    @RenderSection("styles", required: false)

    <!-- bower:js -->
    <script src="/lib/jquery/dist/jquery.js"></script>
    <script src="/lib/bootstrap/dist/js/bootstrap.js"></script>
    <script src="/lib/angular/angular.js"></script>
    <script src="/lib/angular-resource/angular-resource.js"></script>
    <script src="/lib/bootstrap-switch/dist/js/bootstrap-switch.js"></script>
    <script src="/lib/angular-bootstrap-switch/dist/angular-bootstrap-switch.js"></script>
    <script src="/lib/signalr/jquery.signalR.js"></script>
    <!-- endbower -->

    <environment names="Development">
        <!-- sharedDevelopment:js -->
        <script src="/scripts/shared/red-folder.toggle.js"></script>
        <script src="/scripts/shared/3rdParty/classie.js"></script>
        <script src="/scripts/shared/3rdParty/cbpAnimatedHeader.js"></script>
        <!-- endinject -->
    </environment>

    <environment names="Production,Staging">
        <!-- sharedProduction:js -->
        <script src="/scripts/shared/production/shared-f2dfc0b46f.js"></script>
        <!-- endinject -->
    </environment>

    @RenderSection("scripts", required: false)
</head>
<body>
    <header>
        <nav class="navbar navbar-inverse navbar-fixed-top cbp-af-header" role="navigation">
            <div class="container">
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                    <a id="rfc-logo" rel="home" asp-controller="Home" asp-action="Index">
                        <img src="~/Images/RFCLogo48.png">
                    </a>
                </div>
                <div class="navbar-collapse collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a asp-controller="Home" asp-action="Services">Services</a></li>
                        <li><a asp-controller="Home" asp-action="RecentProjects">Recent Projects</a></li>
                        <li><a asp-controller="Home" asp-action="MyBio">My Bio</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>

    <div class="container-fluid">
        @RenderBody()
    </div>


    <footer class="container-fluid">
        <div class="row footer-image">

        </div>
        <div class="row footer-content">
            <div class="col-xs-6">
                <a href="https://github.com/Red-Folder" class="social-icon">
                    <img src="/images/icons/social/github2-dreamstale35.png" class="img-responsive" />
                </a>
                <a href="https://twitter.com/folderred" class="social-icon">
                    <img src="/images/icons/social/twitter-dreamstale71.png" class="img-responsive" />
                </a>
                <a href="http://red-folder.blogspot.co.uk/" class="social-icon">
                    <img src="/images/icons/social/blogger-dreamstale12.png" class="img-responsive" />
                </a>
                <a href="https://uk.linkedin.com/pub/mark-taylor/5/138/1ab" class="social-icon">
                    <img src="/images/icons/social/linkedin-dreamstale45.png" class="img-responsive" />
                </a>
                <a href="skype:red-folder?chat" class="social-icon">
                    <img src="/images/icons/social/skype-dreamstale61.png" class="img-responsive" />
                </a>
                <a href="mailto:mark@red-folder.com" class="social-icon">
                    <img src="/images/icons/social/mail-dreamstale47.png" class="img-responsive" />
                </a>
            </div>
            <div class="copyright col-xs-6">
                <div class="pull-right">
                    &copy; @DateTime.Now.Year - Red Folder Consultancy Ltd
                </div>
            </div>
        </div>
    </footer>

</body>
</html>
