@model List<RedFolder.ViewModels.SummaryTile>

<div class="visible-xs-block visible-sm-block">
    <div class="row">
        @if (Model != null && Model.Count > 0)
        {
            foreach (var tile in Model)
            {
                <a onclick="toggle('.summary-description', '#@tile.Title.ToLower().Replace(' ','_')')">
                    <div class="col-xs-4 @tile.IconClass"></div>
                </a>
            }
        }
    </div>

    @foreach (var tile in Model)
    {
        <div id="@tile.Title.ToLower().Replace(' ','_')" class="row summary-tile hidden summary-description">
            <a asp-controller="@tile.Controller" asp-action="@tile.Action">
                <h3>@tile.Title</h3>

                <div>
                    @if (tile.Description != null && tile.Description.Count > 0)
                    {
                        foreach (var paragraph in tile.Description)
                        {
                            <p>
                                @paragraph
                            </p>
                        }
                    }
                </div>

                <div class="show-more-icon">
                    <i class="icon-chevron-sign-right"></i>
                </div>
            </a>
        </div>
    }

</div>
    
<div class="visible-md-block visible-lg-block">
    <div class="row row-eq-height">

        @if (Model != null && Model.Count > 0)
        {
            foreach (var tile in Model)
            {
                <div class="summary-tile col-md-4">
                    <a asp-controller="@tile.Controller" asp-action="@tile.Action")">

                        <div class="@tile.IconClass"></div>

                        <h3>@tile.Title</h3>

                        <div>
                            @if (tile.Description != null && tile.Description.Count > 0)
                            {
                                foreach (var paragraph in tile.Description)
                                {
                                    <p>
                                        @paragraph
                                    </p>
                                }
                            }
                        </div>

                        <div class="show-more-icon">
                            <i class="icon-chevron-sign-right"></i>
                        </div>

                    </a>
                </div>
            }
        }

    </div>
</div>
