@model RedFolder.ViewModels.BlogCollection

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new-css";
}

<div class="row rfc-header home-page">
    <h1>Blog</h1>
</div>

<div class="row">
    <div class="col-xs-12 rfc-panel rfc-block-link rfc-panel-center" rfc-inner-border>
        <div class="row blog-header">
            <div class="col-xs-12 col-md-3 filter-switch selectable">
                <a onclick="toggle(null, '.filter-chooser')">
                    <strong>Filter: </strong>@(Model.FilterBy == null || Model.FilterBy.Length == 0 ? "None" : Model.FilterBy)
                </a>
            </div>
        </div>
        <div class="filter-chooser hidden">
            <ul>
                @if(Model.KeyWords != null && Model.KeyWords.Count() > 0)
                {
                    @foreach (var keyWord in Model.KeyWords)
                    {
                        <li class="selectable keyword @(Model.FilterBy != null && Model.FilterBy.Contains(keyWord.Key)? "filter-by": "")" onclick="pageConfig.toggleFeature('@keyWord.Key')">
                            @keyWord.Key (@keyWord.Value)
                        </li>
                    }
                }
            </ul>
        </div>
    </div>
</div>

<rfc-pager  page-no="@Model.PageNo" 
            pages="@Model.Pages"
            on-first-page="pageConfig.firstPage()"
            on-previous-page="pageConfig.previousPage()"
            on-next-page="pageConfig.nextPage()"
            on-last-page="pageConfig.lastPage()">
</rfc-pager>

<div class="blog-tiles row">
    @foreach (var blog in Model.BlogsForCurrentPage)
    {
        @(await Html.PartialAsync("_BlogTile", blog))
    }
</div>

<rfc-pager page-no="@Model.PageNo"
           pages="@Model.Pages"
           on-first-page="pageConfig.firstPage()"
           on-previous-page="pageConfig.previousPage()"
           on-next-page="pageConfig.nextPage()"
           on-last-page="pageConfig.lastPage()">
</rfc-pager>

@section Scripts
{

    <script type="text/javascript">
        var listConfig = function() {
            this.pageNo = @Model.PageNo;
            this.blogsPerPage = @Model.BlogsPerPage;
            this.filterBy = [
                @if (Model.FilterBy != null && Model.FilterBy.Split(',').Count() > 0)
                {
                    @foreach (var item in Model.FilterBy.Split(','))
                    {
                        @:'@item',
                    }
                }
            ];
            this.orderBy = '@Model.OrderedBy';
            this.pages = @Model.Pages;

            this.submit = function() {
                var newUrl = '/blog' +
                            '?pageNo=' + this.pageNo +
                            '&blogsPerPage=' + this.blogsPerPage +
                            '&filterBy=' + this.filterBy.join() +
                            '&orderBy=' + this.orderBy;
                document.location.href = newUrl;
            };

            this.toggleFeature = function(feature) {
                var index = this.filterBy.indexOf(feature);
                if (index < 0) {
                    this.filterBy.push(feature);
                } else {
                    this.filterBy.splice(index, 1);
                }
                this.submit();
            };

            this.firstPage = function() {
                this.pageNo = 1;
                this.submit();
            }

            this.previousPage = function() {
                if (this.pageNo > 1) {
                    this.pageNo--;
                    this.submit();
                }
            }

            this.nextPage = function() {
                if (this.pageNo < this.pages) {
                    this.pageNo++;
                    this.submit();
                }
            }

            this.lastPage = function() {
                this.pageNo = this.pages;
                this.submit();
            }

        };

        var pageConfig = new listConfig();
 
    </script>
}