@model RedFolder.com.ViewModels.BlogWithContent

@{
    ViewBag.Title = Model.Meta.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
    ViewBag.BodyCssClass = "new2-css";
    ViewBag.DropContainerFluid = true;
}

<div class="rfc-header home-page">
    <h1>@Model.Meta.Title</h1>
</div>


<div class="blog-text container">
    @Html.Raw(Model.Content)
</div>

<div class="author reverse">
    <div class="container">
        <div>
            <p>
                <strong>About the author:</strong>
            </p>
            <p>
                Mark Taylor is an experience IT Consultant passionate about helping his clients get better ROI from their Software Development.
            </p>
            <p>
                He has over 20 years Software Development experience - over 15 of those leading teams.  He has experience in a wide variety of technologies and holds certification in Microsoft Development and Scrum.
            </p>
            <p>
                He operates through <strong>Red Folder Consultancy Ltd</strong>.
            </p>
        </div>
        <div class="social">
            <p>He can be contacted on:</p>
            <a href="skype:red-folder?chat"><i class="fa fa-skype"></i></a>
            <a href="https://twitter.com/RedFolderMark"><i class="fa fa-twitter"></i></a>
            <a href="mailto:mark@red-folder.com"><i class="fa fa-envelope"></i></a>
        </div>
    </div>
</div>


<div class="container">
    <div id="disqus_thread"></div>

    <script type="text/javascript">
        /**
        *  RECOMMENDED CONFIGURATION VARIABLES: EDIT AND UNCOMMENT THE SECTION BELOW TO INSERT DYNAMIC VALUES FROM YOUR PLATFORM OR CMS.
        *  LEARN WHY DEFINING THESE VARIABLES IS IMPORTANT: https://disqus.com/admin/universalcode/#configuration-variables*/
        var disqus_config = function () {
            this.page.url = "https://www.red-folder.com/blog/@Model.Meta.Url";
            //this.page.identifier = "@Model.Meta.Id";
        };

        (function () { // DON'T EDIT BELOW THIS LINE
            var d = document, s = d.createElement('script');
            s.src = '//red-folder.disqus.com/embed.js';
            s.setAttribute('data-timestamp', +new Date());
            (d.head || d.body).appendChild(s);
        })();
    </script>
</div>

@section metas
{
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@@RedFolderMark" />
    <meta property="og:title" name="twitter:title" content="@Model.Meta.Title" />
    <meta property="og:description" name="twitter:description" content="@Model.Meta.Description" />
    <meta property="og:image" name="twitter:image" content="@Model.Meta.Image" />
}

@section Scripts
{
    <script type="application/ld+json">
        { 
            "@@context": "http://schema.org",
            "@@type": "BlogPosting",
            "headline": "@Model.Meta.Title",
            "image": {
                "@@type": "ImageObject",
                "url": "@Model.Meta.Image",
                "height": "150", 
                "width": " 280"
            },
            "publisher": {
                "@@type": "Organization",
                "name": "Red Folder Consultancy Ltd",
                "logo": {
                    "@@type": "ImageObject",
                    "url": "https://www.red-folder.com/media/RFCLogo.png"
                }
            },
            "url": "https://www.red-folder.com/blog/@Model.Meta.Url",
            "datePublished": "@Model.Meta.Published.ToString("yyyy-MM-dd")",
            "dateCreated": "@Model.Meta.Published.ToString("yyyy-MM-dd")",
            "dateModified": "@Model.Meta.Modified.ToString("yyyy-MM-dd")",
            "description": "@Model.Meta.Description",
            "author": {
                "@@type": "Person",
                "name": "Mark Taylor"
            },
            "mainEntityOfPage": {
                "@@type": "WebPage"
            }
        }
    </script>
}