@model IList<RedFolder.Website.Data.Blog>

@{
    ViewBag.Title = "Blog";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rfc-header home-page">
    <h1>Blog</h1>
</div>

<div class="center-content">
    @{ 
        var line = 0;
        var classNames = "";
    }
    @foreach (var blog in Model)
    {
        { 
            if (line % 2 == 0)
            {
                classNames = "row odd";
            }
            else
            {
                classNames = "row even";

            }
        }
        <div class="@classNames">
            <a href="/blog/@blog.Url">
                @if (blog.Image != null && blog.Image.Length > 0)
                {
                    <img class="image-responsive" src="@blog.Image" />
                }
                <h2>@blog.Title</h2>
            </a>
            <p>
                Published: @blog.Published.ToString("dd-MMM-yyyy")
                @if (blog.Modified != null && blog.Modified.ToString("dd-MMM-yyyy") != blog.Published.ToString("dd-MMM-yyyy"))
                {
                    <small>(Modified: @blog.Modified.ToString("dd-MMM-yyyy"))</small>
                }
            </p>
            <p>
                @blog.Description
            </p>
            @if (blog.KeyWords != null && blog.KeyWords.Count() > 0)
            {
                <ul>
                    @foreach (var keyWord in blog.KeyWords)
                    {
                        <li class="skill-label">@keyWord</li>
                    }
                </ul>
            }
        </div>
    }
</div>
