@model RedFolder.ViewModels.BlogCollection

@{
    ViewBag.Title = "Blog";
}

<rfc-inline-style css-file="Blog/BlogList.css"></rfc-inline-style>

<div class="hero-banner">
    <h1>Blog</h1>
</div>

@Html.Partial("_BlogFilter", Model)

@Html.Partial("_PagedBlogGrid", Model)

@section Scripts
                        {

    <script type="text/javascript">
        var listConfig = function() {
                                this.pageNo = @Model.PageNo;
                                this.blogsPerPage = @Model.BlogsPerPage;
                                this.filterBy = [
                                    @if (Model.FilterBy != null && Model.FilterBy.Split(',').Count() > 0)
                {
                                    @foreach (var item in Model.FilterBy.Split(','))
                    {
                        @:'@item',
                    }
                }
            ];
            this.orderBy = '@Model.OrderedBy';
            this.pages = @Model.Pages;

            this.submit = function() {
                var newUrl = '/blog' +
                            '?pageNo=' + this.pageNo +
                            '&blogsPerPage=' + this.blogsPerPage +
                            '&filterBy=' + this.filterBy.join() +
                            '&orderBy=' + this.orderBy;
                document.location.href = newUrl;
            };

            this.toggleFeature = function(feature) {
                var index = this.filterBy.indexOf(feature);
                if (index < 0) {
                    this.filterBy.push(feature);
                } else {
                    this.filterBy.splice(index, 1);
                }
                this.submit();
            };

            this.firstPage = function() {
                this.pageNo = 1;
                this.submit();
            }

            this.previousPage = function() {
                if (this.pageNo > 1) {
                    this.pageNo--;
                    this.submit();
                }
            }

            this.nextPage = function() {
                if (this.pageNo < this.pages) {
                    this.pageNo++;
                    this.submit();
                }
            }

            this.lastPage = function() {
                this.pageNo = this.pages;
                this.submit();
            }

        };

        var pageConfig = new listConfig();
 
    </script>
}