@model Red_Folder.Website.Data.Blog

@{
    ViewBag.Title = Model.Title;
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="row rfc-header home-page">
    <h1>@Model.Title</h1>
</div>

<div class="center-content">
    <div class="row">
        @Html.Raw(Model.Text)
    </div>
</div>

@section metas
{
    <meta name="twitter:card" content="summary_large_image" />
    <meta name="twitter:site" content="@Model.TwitterHandle" />
    <meta name="twitter:title" content="@Model.Title" />
    <meta name="twitter:description" content="@Model.Description" />
    <meta name="twitter:image" content="@Model.Image" />
}

@section Scripts
{
<script type="application/ld+json">
    { 
        "@@context": "http://schema.org",
        "@@type": "BlogPosting",
        "headline": @Model.Title,
        "image": @Model.Image,
        "publisher": "Red Folder Consultancy Ltd",
        "url": @Model.Url,
        "datePublished": @Model.Published.ToString("yyyy-MM-dd"),
        "dateCreated": @Model.Published.ToString("yyyy-MM-dd"),
        "dateModified": @Model.Modified.ToString("yyyy-MM-dd"),
        "description": @Model.Description,
        "author": {
            "@@type": "Person",
            "name": "Mark Taylor"
        }
    }
</script>
}