@model Red_Folder.com.ViewModels.Activity.WeekSummary

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weekly Activity - Week @Model.WeekNumber of @Model.Year</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        body {
            display: grid;
            grid-template-columns: @Html.Raw(Model.GridTemplateColumns);
            grid-template-areas: @Html.Raw(Model.GridTemplateAreas);
        }

        @Html.Raw(Model.GridAreas)

            .pluralsight-section > div {
                margin: 15px;
                display: grid;
                grid-template-columns: 180px 1fr;
                grid-template-areas: "course-logo course-description";
            }

            .pluralsight-section div .course-logo {
                grid-area: course-logo;
                align-self: center;
                justify-self: center;
            }

            .pluralsight-section div .course-description {
                grid-area: course-description;
            }

                .pluralsight-section div .course-description h3 {
                    margin-top: 0px;
                    padding-left: 15px;
                }

                .pluralsight-section div .course-description p {
                    padding-left: 15px;
                }

            .blog-section > div {
                margin: 15px;
                display: grid;
                grid-template-columns: 180px 1fr;
                grid-template-areas: "blog-logo blog-description";
            }

                .blog-section div .blog-description h3 {
                    margin-top: 0px;
                    padding-left: 15px;
                }

                .blog-section div .blog-description p {
                    padding-left: 15px;
                }

        .book-section img {
            display: block;
            margin-top: 15px;
            margin-left: 75px;
        }


        h1 {
            font-size: 45px;
            margin-top: 0px;
            margin-bottom: 0px;
        }

        h2 {
            background-color: #e74c3c;
            color: white;
            padding-left: 5px;
            padding-right: 5px;
            display: inline;
        }

        #title {
            color: white;
            font-family: Tahoma, Verdana, sans-serif;
            background-color: #e74c3c;
            text-align: center;
            margin: 0px;
            margin-top: 10px;
            margin-bottom: 10px;
            padding-top: 5px;
            padding-bottom: 5px;
        }

        #title p {
            margin-bottom: 0px;
            margin-top: 0px;
        }

        p {
            margin-top: 5px;
            padding-left: 15px;
        }

        #podcastChart {
            margin-top: 15px;
            margin-bottom: 15px;
        }



        #footer {
            grid-area: footer;
            display: grid;
            grid-template-columns: repeat(3, 1fr);
            grid-template-areas: "footer-left footer-middle footer-right";
        }

        .footer {
            background-color: #e74c3c;
            color: white;
            font-size: 25px;
            padding: 0px;
            text-align: center;
            margin-top: 15px;
            margin-bottom: 15px;
        }

        #footer-left, #footer-right {
            padding: 12px;
        }

        #footer-middle > img {
            height: 50px;
        }

        .event-section {
            padding-left: 150px;
            padding-right: 150px;
        }

        .event-section .event-image {
            grid-area "event-image";
            padding-left: 15px;
            padding-right: 15px;
            padding-top: 25px;
        }

        .event-section .event-content {
            grid-area "event-content";
            font-size: 20px;
        }

        .event-item {
            display: grid;
            grid-template-columns: 155px auto;
            grid-template-areas: "event-image event-content";
        }

    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <script src="~/lib//chartjs-plugin-labels//build/chartjs-plugin-labels.min.js"></script>
</head>

<body>
    <div id="title">
        <h1>The weekly retro ...</h1>
        <p>
            My shameless self-promotion of what I've been upto over the last week
        </p>
        <p>
            Week @Model.WeekNumber (@Model.Start.ToString("dd/MM/yyyy") - @Model.End.ToString("dd/MM/yyyy"))
        </p>
    </div>

    @if (Model.PodCasts != null && Model.PodCasts.Display)
    {
        Html.RenderPartial("_PodcastSummaryActivity", Model.PodCasts);
    }

    @if (Model.Skills != null && Model.Skills.Display)
    {
        Html.RenderPartial("_SkillsActivity", Model.Skills);
    }

    @if (Model.Pluralsight != null && Model.Pluralsight.Display)
    {
        Html.RenderPartial("_PluralsightActivity", Model.Pluralsight);
    }

    @if (Model.Focus != null && Model.Focus.Display)
    {
        Html.RenderPartial("_FocusActivity", Model.Focus);
    }

    @if (Model.Clients != null && Model.Clients.Display)
    {
        Html.RenderPartial("_ClientsActivity", Model.Clients);
    }

    @if (Model.Blogs != null && Model.Blogs.Display)
    {
        Html.RenderPartial("_BlogActivity", Model.Blogs);
    }

    @if (Model.Events != null && Model.Events.Display)
    {
        Html.RenderPartial("_EventActivity", Model.Events);
    }

    @if (Model.Books != null && Model.Books.Display)
    {
        Html.RenderPartial("_BookActivity", Model.Books);
    }

    <div id="footer">
        <div id="footer-left" class="footer">
            @@redfoldermark
        </div>
        <div id="footer-middle" class="footer">
            <img src="~/images/RFCLogo128.png" />
        </div>
        <div id="footer-right" class="footer">
            https://red-folder.com
        </div>
    </div>

    <script>
        window.onload = function () {
            if (window.graphs) {
                Object.keys(window.graphs).forEach(key => {
                    var graph = window.graphs[key];
                    graph.chart = new Chart(document.getElementById(graph.elementId), graph.config);
                });
            }
            if (window.clouds) {
                Object.keys(window.clouds).forEach(key => {
                    var cloud = window.clouds[key];
                    cloud.start();
                })
            }
        }
    </script>

</body>

</html>