@model Red_Folder.com.Models.Activity.Weekly

@{
    Layout = null;
}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Weekly Activity - Week @Model.WeekNumber of @Model.Year</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU" crossorigin="anonymous">
    <style>
        body {
            display: grid;
            grid-template-columns: 10% 40% 10% 40%;
            grid-template-areas: "header-logo header-section header-section header-section" "focus-logo focus-section clients-logo clients-section" "podcasts-summary-logo podcasts-summary-section skills-summary-logo skills-summary-section" "pluralsight-logo pluralsight-section pluralsight-section pluralsight-section " "what-is-this-logo what-is-this-section what-is-this-section what-is-this-section";
        }

        #header-logo {
            grid-area: header-logo;
        }

            #header-logo img {
                max-width: 100%;
                max-height: 100%;
            }

            #header-logo .header-icon {
                padding-top: 0px;
            }

        #header-section {
            grid-area: header-section;
        }

        #what-is-this-logo {
            grid-area: what-is-this-logo;
        }

        #what-is-this-section {
            grid-area: what-is-this-section;
        }

        #focus-logo {
            grid-area: focus-logo;
        }

        #focus-section {
            grid-area: focus-section;
        }

        #clients-logo {
            grid-area: clients-logo;
        }

        #clients-section {
            grid-area: clients-section;
        }


        #podcasts-summary-logo {
            grid-area: podcasts-summary-logo;
        }

        #podcasts-summary-section {
            grid-area: podcasts-summary-section;
            margin-right: 15px;
        }

        #skills-summary-logo {
            grid-area: skills-summary-logo;
        }

        #skills-summary-section {
            grid-area: skills-summary-section;
        }

        #pluralsight-logo {
            grid-area: pluralsight-logo;
        }

        #pluralsight-section {
            grid-area: pluralsight-section;
        }

            #pluralsight-section > div {
                margin: 15px;
                display: grid;
                grid-template-columns: 20% 60% 20%;
                grid-template-areas: "course-logo course-description course-completion";
            }

            #pluralsight-section div .course-logo {
                grid-area: course-logo;
            }

            #pluralsight-section div .course-description {
                grid-area: course-description;
            }

                #pluralsight-section div .course-description h3 {
                    margin-top: 0px;
                }

                #pluralsight-section div .course-description p {
                    padding-left: 0px;
                }

            #pluralsight-section div .course-completion {
                grid-area: course-completion;
                text-align: right;
            }

                #pluralsight-section div .course-completion span {
                    font-size: 50px;
                    color: rgba(44, 160, 44, 1);
                }

                #pluralsight-section div .course-completion canvas {
                    display: inline;
                }

        #podcasts-detail-logo {
            grid-area: podcasts-detail-logo;
            display: none;
        }

        #podcasts-detail-section {
            grid-area: podcasts-detail-section;
            display: none;
        }

        i {
            font-size: 75px;
            color: white;
        }

        .header {
            background-color: #e74c3c;
        }

        .header-icon {
            background-color: #e74c3c;
            padding-top: 15px;
            padding-bottom: 15px;
            text-align: center;
            margin-bottom: 15px;
        }

        h1 {
            font-size: 45px;
            padding-top: 24px;
            font-family: Tahoma, Verdana, sans-serif;
            padding-bottom: 5px;
        }

        h1, h2 {
            background-color: #e74c3c;
            color: white;
            margin-top: 0px;
            margin-bottom: 0px;
            padding-left: 15px;
        }

        p {
            margin-top: 5px;
            padding-left: 15px;
        }

        #podcastChart {
            margin-top: 15px;
            margin-bottom: 15px;
        }
    </style>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.7.2/Chart.min.js"></script>
    <script type="text/javascript" src="https://d3js.org/d3.v3.min.js" /></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/d3-cloud/1.2.5/d3.layout.cloud.min.js"></script>
    <script src="~/lib//chartjs-plugin-labels//build/chartjs-plugin-labels.min.js"></script>
</head>

<body>
    <div id="header-logo">
        <div class="header-icon">
            <img src="~/images/RFCLogo128.png" />
        </div>
    </div>
    <div id="header-section">
        <h1>The weekly retro</h1>
        <p>Week @Model.WeekNumber - from @Model.Start.ToShortDateString() to @Model.End.ToShortDateString()</p>
    </div>
    <div id="what-is-this-logo">
        <div class="header-icon">
            <i class="far fa-question-circle"></i>
        </div>
    </div>
    <div id="what-is-this-section">
        <h2>What is this?</h2>
        <p>
            The weekly retro is my attempt to show what I've been doing in the past week.  Bascially think shameless self-promotion.  Over the coming weeks (maybe months) I'm going to add more to this overview.
        </p>
    </div>

    @if (Model.PodCasts != null && Model.PodCasts.Categories != null & Model.PodCasts.Categories.Count() > 0)
    {
        Html.RenderPartial("_PodcastSummaryActivity", Model.PodCasts);
    }

    @if (Model.Skills != null && Model.Skills.Skills != null & Model.Skills.Skills.Count() > 0)
    {
        Html.RenderPartial("_SkillsActivity", Model.Skills);
    }

    @if (Model.Pluralsight != null && Model.Pluralsight.Courses != null & Model.Pluralsight.Courses.Count() > 0)
    {
        Html.RenderPartial("_PluralsightActivity", Model.Pluralsight);
    }

    @if (Model.Focus != null && Model.Focus.Focus != null & Model.Focus.Focus.Count() > 0)
    {
        Html.RenderPartial("_FocusActivity", Model.Focus);
    }

    @if (Model.Clients != null && Model.Clients.Clients != null & Model.Clients.Clients.Count() > 0)
    {
        Html.RenderPartial("_ClientsActivity", Model.Clients);
    }

    <script>
        window.onload = function () {
            if (window.graphs) {
                Object.keys(window.graphs).forEach(key => {
                    var graph = window.graphs[key];
                    graph.chart = new Chart(document.getElementById(graph.elementId), graph.config);
                });
            }
            if (window.clouds) {
                Object.keys(window.clouds).forEach(key => {
                    var cloud = window.clouds[key];
                    cloud.start();
                })
            }
        }
    </script>

</body>

</html>